torch
torchaudio
transformers
sounddevice
numpy
protobuf
sentencepiece
onnxruntime
scipy
librosa
huggingface_hub
fastapi
uvicorn
python-multipart
jinja2
imageio-ffmpeg
sacremoses
indic-nlp-library
openai-whisper
soundfile
