fastapi
uvicorn
python-multipart
jinja2
torch
numpy>=1.23.5
transformers
librosa
imageio-ffmpeg
soundfile
nltk
pysbd
aksharamukha
scipy
asteroid
onnxruntime
# TTS
pytorch_lightning
scikit-learn
seaborn
tqdm
requests
pydantic
sacremoses
flask-cors
pandas
indic_numtowords
ffmpeg-python
indic-nlp-library==0.92
setuptools==69.5.1
